In [ ]:
import pandas as pd
import folium
from pandas.io import sql 
import MySQLdb

con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
cursor.execute =("select CurrentWaterLevel from selangor-scrape where StationID = 3217435 "
# df = pd.read_csv("latlong.csv", names=['statid','lat','long']) 
# df.dropna(inplace=True)
# df2 = pd.read_csv("latlongsel.csv", names=['statid','lat','long']) 
# df2.dropna(inplace=True)

# m = folium.Map(location=[3.1067998,101.6087607], tiles="OpenStreetMap", zoom_start=10)

# for i in range(0,len(df)):
#    folium.Marker(location=[df.iloc[i]['lat'], df.iloc[i]['long']],).add_to(m)
#    print(df['statid'][i])
    

# # for i in range(0,len(df2)):
# #    folium.Marker(location=[df2.iloc[i]['lat'], df2.iloc[i]['long']],).add_to(m)

# m

In [ ]:
from pandas.io import sql 
import MySQLdb
con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
concursor = con.cursor()
i = 3217435
x = i
state = ("SELECT CurrentWaterLevel FROM `selangor-scrape` WHERE `Station ID` = %(x)s")
concursor.execute(state, {'x': x })
#concursor.execute("SELECT CurrentWaterLevel := `")
result = concursor.fetchall()
print(result)

In [ ]:
import pandas as pd
import folium
from pandas.io import sql 
import MySQLdb

con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
concursor = con.cursor()

df = pd.read_csv("latlong.csv", names=['statid','lat','long']) 
df.dropna(inplace=True)

df2 = pd.read_csv("latlongsel.csv", names=['statid','lat','long']) 
df2.dropna(inplace=True)

m = folium.Map(location=[3.1067998,101.6087607], tiles="OpenStreetMap", zoom_start=10)

for i in range(0,len(df)):
   
   #print(df['statid'][i])
   x = df['statid'][i]
   state = ("SELECT CurrentWaterLevel FROM `selangor-scrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   name = df['statid'][i]
   state = ("SELECT `Station Name` FROM `selangor-scrape` WHERE `Station ID` = %(name)s")
   concursor.execute(state, {'name': name })
   result2 = concursor.fetchall()
   print(result2)
#    newformat = ("{}\n{}".format(result2,result))
#    folium.Marker(location=[df.iloc[i]['lat'], df.iloc[i]['long']]).add_to(m)

    
# m
# m.save("heat_map.html")

In [5]:
df['alert'] = ''
df['warning'] = ''
df['danger'] = ''

In [ ]:
import pandas as pd
import folium
from pandas.io import sql 
import MySQLdb

con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
concursor = con.cursor()

df = pd.read_csv("latlong.csv", names=['statid','lat','long']) 
df.dropna(inplace=True)
df

In [2]:
df.reset_index(drop=True, inplace = True)
df

    statid       lat        long value
0  3217435  3.236111  101.752778
1  3217403  3.245278  101.715278
2  3116434  3.176389  101.687500
3  3116433  3.173611  101.697222
4  3117403  3.169722  101.713333
5  3116439  3.151333  101.695306
6  3116435  3.150500  101.698472
7  3116436  3.112583  101.696583
8  3116430  3.138889  101.697222
9  3016401  3.080917  101.665194

In [10]:
con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
concursor = con.cursor()

for i in range(0,len(df)):
   x = df['statid'][i]
   state = ("SELECT CurrentWaterLevel FROM `selangorscrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   df['value'][i] = result
for i in range(0,len(df)):
   x = df['statid'][i]
   state = ("SELECT Alert FROM `selangorscrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   df['alert'][i] = result
for i in range(0,len(df)):
   x = df['statid'][i]
   state = ("SELECT Warning FROM `selangorscrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   df['warning'][i] = result
for i in range(0,len(df)):
   x = df['statid'][i]
   state = ("SELECT Danger FROM `selangorscrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   df['danger'][i] = result

((93.21,),)
((57.55,),)
((29.51,),)
((28.19,),)
((30.75,),)
((24.96,),)
((25.11,),)
((23.68,),)
((22.47,),)
((12.95,),)
((96.5,),)
((60.0,),)
((32.0,),)
((30.0,),)
((35.0,),)
((29.0,),)
((28.0,),)
((28.0,),)
((27.0,),)
((17.0,),)
((96.65,),)
((61.0,),)
((32.3,),)
((30.5,),)
((35.5,),)
((30.0,),)
((29.0,),)
((29.0,),)
((28.25,),)
((18.0,),)
((97.0,),)
((62.0,),)
((33.0,),)
((31.0,),)
((36.0,),)
((31.0,),)
((30.0,),)
((30.0,),)
((29.5,),)
((19.0,),)

C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\3582417952.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'][i] = result
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\3582417952.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['alert'][i] = result
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\3582417952.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['warning'][i] = result
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\3582417952.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['danger'][i] = result

In [13]:
df

    statid       lat        long  value alert warning danger
0  3217435  3.236111  101.752778  93.21  96.5   96.65   97.0
1  3217403  3.245278  101.715278  57.55  60.0    61.0   62.0
2  3116434  3.176389  101.687500  29.51  32.0    32.3   33.0
3  3116433  3.173611  101.697222  28.19  30.0    30.5   31.0
4  3117403  3.169722  101.713333  30.75  35.0    35.5   36.0
5  3116439  3.151333  101.695306  24.96  29.0    30.0   31.0
6  3116435  3.150500  101.698472  25.11  28.0    29.0   30.0
7  3116436  3.112583  101.696583  23.68  28.0    29.0   30.0
8  3116430  3.138889  101.697222  22.47  27.0   28.25   29.5
9  3016401  3.080917  101.665194  12.95  17.0    18.0   19.0

In [12]:
df
df['value'] = df['value'].astype(str).str.replace(r'\(|\)|,|,', '')
df['alert'] = df['alert'].astype(str).str.replace(r'\(|\)|,|,', '')
df['warning'] = df['warning'].astype(str).str.replace(r'\(|\)|,|,', '')
df['danger'] = df['danger'].astype(str).str.replace(r'\(|\)|,|,', '')

C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\107229572.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['value'] = df['value'].astype(str).str.replace(r'\(|\)|,|,', '')
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\107229572.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['alert'] = df['alert'].astype(str).str.replace(r'\(|\)|,|,', '')
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\107229572.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['warning'] = df['warning'].astype(str).str.replace(r'\(|\)|,|,', '')
C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\107229572.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['danger'] = df['danger'].astype(str).str.replace(r'\(|\)|,|,', '')

In [ ]:
from sqlalchemy import create_engine

df
con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df.to_sql('tomap', con = engine, if_exists='replace')

In [ ]:
df
df = df[['lat', 'long', 'value', 'statid']]

In [ ]:
df['icon'] = ('images/3.png')

In [ ]:
df
df.rename(columns = {'lat':'latitude','long':'longitude'}, inplace = True)# In[ ]:
df.rename(columns = {'value':'name','statid':'info'}, inplace = True)# In[ ]:def test_get_all_by_host_with_pool(self):

In [ ]:
from sqlalchemy import create_engine

df
con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df.to_sql('tomap', con = engine, if_exists='append')

In [ ]:
df

In [ ]:
from sqlalchemy import create_engine


con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df.to_sql('locations', con = engine, if_exists='append',index=False)

In [1]:
import pandas as pd
import folium
from pandas.io import sql 
import MySQLdb

con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
concursor = con.cursor()

df = pd.read_csv("latlong.csv", names=['statid','lat','long']) 
df.dropna(inplace=True)
df

    statid       lat        long
0  3217435  3.236111  101.752778
1  3217403  3.245278  101.715278
2  3116434  3.176389  101.687500
3  3116433  3.173611  101.697222
4  3117403  3.169722  101.713333
5  3116439  3.151333  101.695306
6  3116435  3.150500  101.698472
7  3116436  3.112583  101.696583
8  3116430  3.138889  101.697222
9  3016401  3.080917  101.665194

In [ ]:
df

In [ ]:
df
df.rename(columns = {'lat':'latitude','long':'longitude'}, inplace = True)# In[ ]:
df.rename(columns = {'value':'name','statid':'info'}, inplace = True)# In[ ]:def test_get_all_by_host_with_pool(self):

In [ ]:
df

In [ ]:
df = df[['latitude', 'longitude', 'name', 'info','icon']]

In [ ]:
df

In [ ]:
from sqlalchemy import create_engine


con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df.to_sql('locations', con = engine, if_exists='append',index=False)

In [ ]:
df
df['smsAlert'] = ''
df

In [ ]:
for i in range(0,len(df)):
   x = df['statid'][i]
   state = ("SELECT smsAlert FROM `selangorscrape` WHERE `Station ID` = %(x)s")
   concursor.execute(state, {'x': x })
   result = concursor.fetchall()
   print(result)
   df['yapbobo1'][i] = result

In [ ]:
df['smsAlert'] = df['smsAlert'].astype(str).str.replace(r'\(|\)|,|,', '')

In [ ]:
df['smsAlert'] = df['smsAlert'].astype(str).str.replace(r'\(|\'\'\)|,|,', '')

In [ ]:
df

In [ ]:
df

In [ ]:
df['smsAlert'] = df2['smsAlert'].astype(str).str.replace(r'\(|\)|''|,|,','')

In [ ]:
df2['smsAlert'] = df2['smsAlert'].astype(str).str.replace(r'\(|\\)|,|,', '')

In [ ]:
df2 = df

In [ ]:
df2['smsAlert'] = df2['smsAlert'].astype(str).str.replace(r'\(|\)|''|''\|,|,','')

In [ ]:
df2

In [ ]:
df2['smsAlert'] = df2['smsAlert'].astype(str).str.replace(r'\(\'|''\)|,|,','')

In [ ]:
df2['smsAlert'] = df2['smsAlert'].astype("string")

In [ ]:
df2.dtypes

In [ ]:
df2['smsAlert'] = df2['smsAlert'].str.replace(r'"', '')

In [ ]:
df2['smsAlert'].replace(regex=True,inplace=False,to_replace=r'"',value=r'')

In [ ]:
df2

In [ ]:
import numpy as np 
df2['newtesting2'] = np.where(df2['smsAlert']>df2['newtesting'], 'yes', 'no')

In [ ]:
df2['yapbobo1'] = '((nosms,),)'

In [ ]:
df2

In [ ]:
df2

In [ ]:
import numpy as np 
df2['comparison'] = np.where(df2['newnewnew']==df2['yapbobo1'], 'yes', 'no')

In [ ]:
df2

In [14]:
df

    statid       lat        long  value alert warning danger
0  3217435  3.236111  101.752778  93.21  96.5   96.65   97.0
1  3217403  3.245278  101.715278  57.55  60.0    61.0   62.0
2  3116434  3.176389  101.687500  29.51  32.0    32.3   33.0
3  3116433  3.173611  101.697222  28.19  30.0    30.5   31.0
4  3117403  3.169722  101.713333  30.75  35.0    35.5   36.0
5  3116439  3.151333  101.695306  24.96  29.0    30.0   31.0
6  3116435  3.150500  101.698472  25.11  28.0    29.0   30.0
7  3116436  3.112583  101.696583  23.68  28.0    29.0   30.0
8  3116430  3.138889  101.697222  22.47  27.0   28.25   29.5
9  3016401  3.080917  101.665194  12.95  17.0    18.0   19.0

In [36]:
compare = []
for i in range(0,len(df)):
    if df['value'][i] < df['alert'][i]:
        compare.append("Normal")
    elif df['value'] >= df['alert']:
        compare.append("Alert")
    elif df['value'] >= df['warning']:
        compare.append("Warning")
    elif df['value'] >= df['danger']:
        compare.append("Danger")


df['Danger Level'] = compare

In [29]:
df.dtypes

statid       int64
lat        float64
long       float64
value      float64
alert      float64
warning    float64
danger     float64
dtype: object

In [24]:
df = df.astype({"value": float, "alert": float, "warning":float, "danger":float})

In [25]:
df

    statid       lat        long  value  alert  warning  danger
0  3217435  3.236111  101.752778  93.21   96.5    96.65    97.0
1  3217403  3.245278  101.715278  57.55   60.0    61.00    62.0
2  3116434  3.176389  101.687500  29.51   32.0    32.30    33.0
3  3116433  3.173611  101.697222  28.19   30.0    30.50    31.0
4  3117403  3.169722  101.713333  30.75   35.0    35.50    36.0
5  3116439  3.151333  101.695306  24.96   29.0    30.00    31.0
6  3116435  3.150500  101.698472  25.11   28.0    29.00    30.0
7  3116436  3.112583  101.696583  23.68   28.0    29.00    30.0
8  3116430  3.138889  101.697222  22.47   27.0    28.25    29.5
9  3016401  3.080917  101.665194  12.95   17.0    18.00    19.0

In [37]:
df

    statid       lat        long  value  alert  warning  danger Danger Level
0  3217435  3.236111  101.752778  93.21   96.5    96.65    97.0       Normal
1  3217403  3.245278  101.715278  57.55   60.0    61.00    62.0       Normal
2  3116434  3.176389  101.687500  29.51   32.0    32.30    33.0       Normal
3  3116433  3.173611  101.697222  28.19   30.0    30.50    31.0       Normal
4  3117403  3.169722  101.713333  30.75   35.0    35.50    36.0       Normal
5  3116439  3.151333  101.695306  24.96   29.0    30.00    31.0       Normal
6  3116435  3.150500  101.698472  25.11   28.0    29.00    30.0       Normal
7  3116436  3.112583  101.696583  23.68   28.0    29.00    30.0       Normal
8  3116430  3.138889  101.697222  22.47   27.0    28.25    29.5       Normal
9  3016401  3.080917  101.665194  12.95   17.0    18.00    19.0       Normal

In [40]:
df

    statid       lat        long  value  alert  warning  danger Danger Level
0  3217435  3.236111  101.752778  93.21   96.5    96.65    97.0       Normal
1  3217403  3.245278  101.715278  57.55   60.0    61.00    62.0       Normal
2  3116434  3.176389  101.687500  29.51   32.0    32.30    33.0       Normal
3  3116433  3.173611  101.697222  28.19   30.0    30.50    31.0       Normal
4  3117403  3.169722  101.713333  30.75   35.0    35.50    36.0       Normal
5  3116439  3.151333  101.695306  24.96   29.0    30.00    31.0       Normal
6  3116435  3.150500  101.698472  25.11   28.0    29.00    30.0       Normal
7  3116436  3.112583  101.696583  23.68   28.0    29.00    30.0       Normal
8  3116430  3.138889  101.697222  22.47   27.0    28.25    29.5       Normal
9  3016401  3.080917  101.665194  12.95   17.0    18.00    19.0       Normal

In [45]:
df['value'] = df['value'].replace('93.21', '98.0')

In [46]:
df

    statid       lat        long  value  alert  warning  danger Danger Level
0  3217435  3.236111  101.752778  93.21   96.5    96.65    97.0       Normal
1  3217403  3.245278  101.715278  57.55   60.0    61.00    62.0       Normal
2  3116434  3.176389  101.687500  29.51   32.0    32.30    33.0       Normal
3  3116433  3.173611  101.697222  28.19   30.0    30.50    31.0       Normal
4  3117403  3.169722  101.713333  30.75   35.0    35.50    36.0       Normal
5  3116439  3.151333  101.695306  24.96   29.0    30.00    31.0       Normal
6  3116435  3.150500  101.698472  25.11   28.0    29.00    30.0       Normal
7  3116436  3.112583  101.696583  23.68   28.0    29.00    30.0       Normal
8  3116430  3.138889  101.697222  22.47   27.0    28.25    29.5       Normal
9  3016401  3.080917  101.665194  12.95   17.0    18.00    19.0       Normal

In [49]:
df['value'][0] = 98.0

C:\Users\Asus\AppData\Local\Temp\ipykernel_54696\1120360420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'][0] = 98.0

In [53]:
df

    statid       lat        long  value  alert  warning  danger Danger Level
0  3217435  3.236111  101.752778  98.00   96.5    96.65    97.0       Normal
1  3217403  3.245278  101.715278  57.55   60.0    61.00    62.0       Normal
2  3116434  3.176389  101.687500  29.51   32.0    32.30    33.0       Normal
3  3116433  3.173611  101.697222  28.19   30.0    30.50    31.0       Normal
4  3117403  3.169722  101.713333  30.75   35.0    35.50    36.0       Normal
5  3116439  3.151333  101.695306  24.96   29.0    30.00    31.0       Normal
6  3116435  3.150500  101.698472  25.11   28.0    29.00    30.0       Normal
7  3116436  3.112583  101.696583  23.68   28.0    29.00    30.0       Normal
8  3116430  3.138889  101.697222  22.47   27.0    28.25    29.5       Normal
9  3016401  3.080917  101.665194  12.95   17.0    18.00    19.0       Normal

In [61]:
compare = []
for i in range(0,len(df)):
    if df['value'][i] > df['danger'][i]:
        compare.append("http://maps.google.com/mapfiles/ms/icons/red-dot.png")
    elif df['value'][i] > df['warning'][i]:
        compare.append("http://maps.google.com/mapfiles/ms/icons/yellow-dot.png")
    elif df['value'][i] > df['alert'][i]:
        compare.append("http://maps.google.com/mapfiles/ms/icons/blue-dot.png")
    elif df['value'][i] < df['alert'][i]:
        compare.append("http://maps.google.com/mapfiles/ms/icons/green-dot.png")
df['Danger Level'] = compare

In [62]:
df

,statid,lat,long,value,alert,warning,danger,Danger Level
0,3217435,3.236111,101.752778,98.00,96.5,96.65,97.0,http://maps.google.com/mapfiles/ms/icons/red-d...
1,3217403,3.245278,101.715278,57.55,60.0,61.00,62.0,http://maps.google.com/mapfiles/ms/icons/green...
2,3116434,3.176389,101.687500,29.51,32.0,32.30,33.0,http://maps.google.com/mapfiles/ms/icons/green...
3,3116433,3.173611,101.697222,28.19,30.0,30.50,31.0,http://maps.google.com/mapfiles/ms/icons/green...
4,3117403,3.169722,101.713333,30.75,35.0,35.50,36.0,http://maps.google.com/mapfiles/ms/icons/green...
5,3116439,3.151333,101.695306,24.96,29.0,30.00,31.0,http://maps.google.com/mapfiles/ms/icons/green...
6,3116435,3.150500,101.698472,25.11,28.0,29.00,30.0,http://maps.google.com/mapfiles/ms/icons/green...
7,3116436,3.112583,101.696583,23.68,28.0,29.00,30.0,http://maps.google.com/mapfiles/ms/icons/green...
8,3116430,3.138889,101.697222,22.47,27.0,28.25,29.5,http://maps.google.com/mapfiles/ms/icons/green...
9,3016401,3.080917,101.665194,12.95,17.0,18.00,19.0,http://maps.google.com/mapfiles/ms/icons/green...

In [70]:
df
df = df[['lat', 'long', 'value', 'statid','Danger Level','alert','warning','danger']]

KeyError: "['lat', 'long', 'value', 'statid'] not in index"

In [68]:
df
df.rename(columns = {'lat':'latitude','long':'longitude','value':'name','statid':'info'}, inplace = True)# In[ ]:

In [69]:
df

,latitude,longitude,name,info,alert,Danger Level,warning,danger
0,3.236111,101.752778,98.00,3217435,96.5,http://maps.google.com/mapfiles/ms/icons/red-d...,96.65,97.0
1,3.245278,101.715278,57.55,3217403,60.0,http://maps.google.com/mapfiles/ms/icons/green...,61.00,62.0
2,3.176389,101.687500,29.51,3116434,32.0,http://maps.google.com/mapfiles/ms/icons/green...,32.30,33.0
3,3.173611,101.697222,28.19,3116433,30.0,http://maps.google.com/mapfiles/ms/icons/green...,30.50,31.0
4,3.169722,101.713333,30.75,3117403,35.0,http://maps.google.com/mapfiles/ms/icons/green...,35.50,36.0
5,3.151333,101.695306,24.96,3116439,29.0,http://maps.google.com/mapfiles/ms/icons/green...,30.00,31.0
6,3.150500,101.698472,25.11,3116435,28.0,http://maps.google.com/mapfiles/ms/icons/green...,29.00,30.0
7,3.112583,101.696583,23.68,3116436,28.0,http://maps.google.com/mapfiles/ms/icons/green...,29.00,30.0
8,3.138889,101.697222,22.47,3116430,27.0,http://maps.google.com/mapfiles/ms/icons/green...,28.25,29.5
9,3.080917,101.665194,12.95,3016401,17.0,http://maps.google.com/mapfiles/ms/icons/green...,18.00,19.0

In [78]:
df.rename(columns = {'Danger Level':'icon'},inplace = True)
df

,latitude,longitude,name,info,icon,alert,warning,danger
0,3.236111,101.752778,98.00,3217435,http://maps.google.com/mapfiles/ms/icons/red-d...,96.5,96.65,97.0
1,3.245278,101.715278,57.55,3217403,http://maps.google.com/mapfiles/ms/icons/green...,60.0,61.00,62.0
2,3.176389,101.687500,29.51,3116434,http://maps.google.com/mapfiles/ms/icons/green...,32.0,32.30,33.0
3,3.173611,101.697222,28.19,3116433,http://maps.google.com/mapfiles/ms/icons/green...,30.0,30.50,31.0
4,3.169722,101.713333,30.75,3117403,http://maps.google.com/mapfiles/ms/icons/green...,35.0,35.50,36.0
5,3.151333,101.695306,24.96,3116439,http://maps.google.com/mapfiles/ms/icons/green...,29.0,30.00,31.0
6,3.150500,101.698472,25.11,3116435,http://maps.google.com/mapfiles/ms/icons/green...,28.0,29.00,30.0
7,3.112583,101.696583,23.68,3116436,http://maps.google.com/mapfiles/ms/icons/green...,28.0,29.00,30.0
8,3.138889,101.697222,22.47,3116430,http://maps.google.com/mapfiles/ms/icons/green...,27.0,28.25,29.5
9,3.080917,101.665194,12.95,3016401,http://maps.google.com/mapfiles/ms/icons/green...,17.0,18.00,19.0

In [80]:
from sqlalchemy import create_engine


con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df.to_sql('locations', con = engine, if_exists='append',index=False)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'alert' in 'field list'")
[SQL: INSERT INTO locations (latitude, longitude, name, info, icon, alert, warning, danger) VALUES (%(latitude)s, %(longitude)s, %(name)s, %(info)s, %(icon)s, %(alert)s, %(warning)s, %(danger)s)]
[parameters: ({'latitude': 3.236111, 'longitude': 101.752778, 'name': 98.0, 'info': 3217435, 'icon': 'http://maps.google.com/mapfiles/ms/icons/red-dot.png', 'alert': 96.5, 'warning': 96.65, 'danger': 97.0}, {'latitude': 3.245278, 'longitude': 101.715278, 'name': 57.55, 'info': 3217403, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 60.0, 'warning': 61.0, 'danger': 62.0}, {'latitude': 3.176389, 'longitude': 101.6875, 'name': 29.51, 'info': 3116434, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 32.0, 'warning': 32.3, 'danger': 33.0}, {'latitude': 3.173611, 'longitude': 101.697222, 'name': 28.19, 'info': 3116433, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 30.0, 'warning': 30.5, 'danger': 31.0}, {'latitude': 3.169722, 'longitude': 101.713333, 'name': 30.75, 'info': 3117403, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 35.0, 'warning': 35.5, 'danger': 36.0}, {'latitude': 3.151333, 'longitude': 101.695306, 'name': 24.96, 'info': 3116439, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 29.0, 'warning': 30.0, 'danger': 31.0}, {'latitude': 3.1505, 'longitude': 101.698472, 'name': 25.11, 'info': 3116435, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 28.0, 'warning': 29.0, 'danger': 30.0}, {'latitude': 3.112583, 'longitude': 101.696583, 'name': 23.68, 'info': 3116436, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 28.0, 'warning': 29.0, 'danger': 30.0}, {'latitude': 3.138889, 'longitude': 101.697222, 'name': 22.47, 'info': 3116430, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 27.0, 'warning': 28.25, 'danger': 29.5}, {'latitude': 3.080917, 'longitude': 101.665194, 'name': 12.95, 'info': 3016401, 'icon': 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', 'alert': 17.0, 'warning': 18.0, 'danger': 19.0})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [1]:
df

NameError: name 'df' is not defined

In [81]:
df2 = df[['latitude','longitude','name','info','icon']]

In [82]:
df2

,latitude,longitude,name,info,icon
0,3.236111,101.752778,98.00,3217435,http://maps.google.com/mapfiles/ms/icons/red-d...
1,3.245278,101.715278,57.55,3217403,http://maps.google.com/mapfiles/ms/icons/green...
2,3.176389,101.687500,29.51,3116434,http://maps.google.com/mapfiles/ms/icons/green...
3,3.173611,101.697222,28.19,3116433,http://maps.google.com/mapfiles/ms/icons/green...
4,3.169722,101.713333,30.75,3117403,http://maps.google.com/mapfiles/ms/icons/green...
5,3.151333,101.695306,24.96,3116439,http://maps.google.com/mapfiles/ms/icons/green...
6,3.150500,101.698472,25.11,3116435,http://maps.google.com/mapfiles/ms/icons/green...
7,3.112583,101.696583,23.68,3116436,http://maps.google.com/mapfiles/ms/icons/green...
8,3.138889,101.697222,22.47,3116430,http://maps.google.com/mapfiles/ms/icons/green...
9,3.080917,101.665194,12.95,3016401,http://maps.google.com/mapfiles/ms/icons/green...

In [83]:
from sqlalchemy import create_engine


con = MySQLdb.connect(user='root', password='',host='localhost', database='website_myflood')
engine = create_engine("mysql+pymysql://root:@localhost/website_myflood")
df2.to_sql('locations', con = engine, if_exists='append',index=False)

10